@import variables.sass

body
    padding: 0
    .container
    display: grid
    grid-template-columns: 1fr
    margin: 50px auto 0
    width: 800px
    font-family: 'Open Sans'
    border: 20px solid #363434d0
    // +border()
    .blog
        margin: 30px 20px
        // +border()
        .date
            color: #4c9bdb
            font-size: 1.3em
            text-transform: uppercase
            letter-spacing: 3px
            font-weight: 600
        .title
            color: #363434d0
        .text
            div
                border-left: 5px solid #363434
                padding-left: 10px
    .line
        border: 1px solid #5755553b
        box-shadow: 0 0 1px #575555cb
        margin: 0 20px
    
